.signup {
    background-color: rgb(119,2,7);
}
h1 {
    color: rgb(255, 255, 255);
}
form input {
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgb(119,2,7) !important;
    border: 1px solid whitesmoke;
    color: white;
}
input:focus {
    outline: none;
}
.signup1-btn {
    cursor: pointer;
    transition: background-color 0.3s ease-in
}
.signup1-btn:hover {
    background-color: whitesmoke !important;
    color: black;
}
.signup span {
    color: white;
}
.signup span:hover {
    font-style: italic;
}
::placeholder{
    color: white !important;
}
