.nav-div {
    background-color: rgb(119,2,7);
}
.signup-btn{
    background-color: whitesmoke;
    transition: background-color 0.3s ease-in;
}
.signup-btn:hover{
    background-color: white !important;
}
.signin-btn{
    border: 1px solid whitesmoke;
    transition: background-color 0.3s ease-in;
}
.signin-btn:hover {
    background-color: white;
    color: black;
}
.signout-btn{
    background-color: whitesmoke;
    transition: background-color 0.3s ease-in;
}
.signout-btn:hover{
    background-color: white !important;
}